.toast {
  position: fixed;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4fda6f;
  color: white;
  padding: 10px;
  border-radius: 12px;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  width: 300px;
  text-align: center;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}
